* {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::selection {
  background: #67a3f1fc;
  color: #fafafa;
}
* ::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background: white;
}
.content {
  padding: 2rem;
  text-align: left;
}
/* 隐藏Layout.Sider (menu) 的按钮  */
.ant-layout-sider-zero-width-trigger {
  display: none;
}
.ant-layout,
.ant-layout-sider,
.ant-layout-content,
.ant-layout-header {
  background: white;
}
.ant-layout-sider .ant-layout-content,
.ant-layout-sider .ant-layout-header,
.ant-layout-sider .ant-layout-footer {
  background: white;
}
.ant-layout-content:nth-child(odd) {
  background: #fdfdfd;
}
.ant-layout-content:nth-child(even) {
  background: #f7f7f7;
}
.ant-layout-footer {
  color: ghostwhite;
  background: #303030;
}
.ant-menu {
  background: white;
  border: none !important;
  text-align: left !important;
  padding: 1rem !important;
}
.ant-menu a {
  color: #888888;
}
.ant-menu .ant-menu-item {
  border-bottom: 1px dotted #888888;
  background: transparent !important;
  color: #888888 !important;
}
.ant-menu .ant-menu-item .ant-menu-item-selected {
  background: transparent !important;
  color: #888888 !important;
}
.ant-drawer-body {
  padding: 0;
}
.ant-avatar {
  background: #67a3f1fc;
}
.color-title {
  color: #888;
}
.color-content {
  color: #101010;
}
.ant-drawer-close {
  display: none !important;
}
